:root {
  --header-color: #212121;
  --title-color: #757575;
  --accent-color: #2196f3;
  --second-accent-color: #ffffff;
  --body-background: #ffffff;
  --typical-lh: 1.36;
  --bg-gradiant:linear-gradient( rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)) ;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0px;
}

ul {
  margin: 0px;
  padding-left: 0;
}

body {
  font-family: "Roboto", sans-serif;
  background: var(--body-background);
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

img {
  display: block;
  width: 100%;
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.container {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  /* outline: 2px solid red; */
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

section {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.header {
  border-bottom: 1px solid #f5f4fa;
  padding-top: 10px;
  padding-bottom: 10px;
}
@media screen and (min-width: 768px) {
  .header {
    padding-top: 26px;
    padding-bottom: 26px;
  }
}
@media screen and (min-width: 1200px) {
  .header {
    padding-top: 24px;
    padding-bottom: 25px;
  }
}

.logo__web {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  color: var(--accent-color);
}
@media screen and (min-width: 1200px) {
  .logo__web {
    font-size: 26px;
    line-height: 1.19;
  }
}

.logo__studio {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  color: #000000;
}
@media screen and (min-width: 1200px) {
  .logo__studio {
    font-size: 26px;
    line-height: 1.19;
  }
}

.navigation, .auth-nav {
  display: none;
}

.navigation {
  display: none;
}
@media screen and (min-width: 768px) {
  .navigation {
    display: block;
  }
}
@media screen and (min-width: 1200px) {
  .navigation {
    display: block;
  }
}

.navigation__link {
  position: relative;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--header-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.navigation__link:hover, .navigation__link:focus {
  color: var(--accent-color);
}

.navigation__link.current::after {
  position: absolute;
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--accent-color);
  margin-top: 28px;
  left: 0;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.02em;
  color: var(--title-color);
  align-items: center;
  display: flex;
  gap: 10px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contact:hover, .contact:focus {
  color: var(--accent-color);
}
@media screen and (min-width: 1200px) {
  .contact {
    font-size: 14px;
    line-height: 1.14;
  }
}

.contact__icon {
  fill: var(--title-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact:hover .contact__icon,
.contact:focus .contact__icon {
  fill: var(--accent-color);
}

.header .container {
  display: flex;
  align-items: center;
}

.header__navigation {
  margin-left: 87px;
}
@media screen and (min-width: 1200px) {
  .header__navigation {
    margin-left: 93px;
  }
}

.navigation__list {
  display: flex;
}

.navigation__item:not(:last-child) {
  margin-right: 50px;
}

.auth-nav {
  display: none;
}
@media screen and (min-width: 768px) {
  .auth-nav {
    display: flex;
    margin-left: auto;
    margin-bottom: -10px;
  }
}
@media screen and (min-width: 1200px) {
  .auth-nav {
    display: flex;
    margin-left: auto;
  }
}

.auth-list li:first-child {
  margin-bottom: 10px;
}

@media screen and (min-width: 1200px) {
  .auth-list {
    display: flex;
    margin-left: auto;
  }
}

@media screen and (min-width: 1200px) {
  .auth-list li:not(:last-child) {
    margin-right: 50px;
  }
}

.menu-open, .menu-close {
  margin-left: auto;
  background-color: transparent;
  border: transparent;
}
@media screen and (min-width: 768px) {
  .menu-open, .menu-close {
    display: none;
  }
}
@media screen and (min-width: 1200px) {
  .menu-open, .menu-close {
    display: none;
  }
}

.mobile-menu {
  position: fixed;
  z-index: 1;
  background-color: var(--body-background);
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding-top: 10px;
  padding-bottom: 48px;
  padding-left: 40px;
  overflow-y: scroll;
}
.mobile-menu > .container-mob {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-left: 40px;
  padding-right: 15px;
}

.menu-close {
  display: block;
  margin-left: auto;
  margin-bottom: 15px;
}

.mob-menu-item:not(:last-child) {
  margin-bottom: 36px;
}

.mob-menu-item:last-child {
  margin-bottom: 120px;
}

.mob-menu-link {
  font-weight: 500;
  font-size: 40px;
  line-height: 1.18;
  letter-spacing: 0.02em;
  color: #212121;
}
.mob-menu-link:hover, .mob-menu-link:focus {
  color: var(--accent-color);
}

.mob-auth-nav {
  display: flex;
  gap: 32px;
  margin-bottom: 64px;
}

.contact-tel {
  display: inline-block;
  font-weight: 500;
  font-size: 34px;
  line-height: 1.18;
  letter-spacing: 0.02em;
  color: #2196F3;
  margin-bottom: 32px;
}

.contact-mail {
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 0.02em;
  color: #757575;
}

.mob-soc-list {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.mob-soc-list li:not(:last-child) {
  border-right: 1px solid rgba(33, 33, 33, 0.2);
  padding-right: 10px;
}

.mob-soc-link {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: #2196F3;
}

.hero {
  background-color: #2f303a;
  background-image: var(--bg-gradiant), url(../Images/Hero_mob_1x.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  max-width: 1600px;
  height: 600px;
  margin: 0 auto;
  text-align: center;
  padding-top: 118px;
  padding-bottom: 118px;
}
@media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero {
    background-image: var(--bg-gradiant), url(../Images/Hero_mob_2x.jpg);
  }
}
@media screen and (min-width: 768px) {
  .hero {
    background-image: var(--bg-gradiant), url(../Images/Hero_tab_1x.jpg);
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero {
    background-image: var(--bg-gradiant), url(../Images/Hero_tab_2x.jpg);
  }
}
@media screen and (min-width: 1200px) {
  .hero {
    padding-top: 200px;
    padding-bottom: 200px;
    background-image: var(--bg-gradiant), url(../Images/Hero_desk_1x.jpg);
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero {
    background-image: var(--bg-gradiant), url(../Images/Hero_desk_2x.jpg);
  }
}

.hero-content {
  text-align: center;
  width: 100%;
}
@media screen and (max-width: 1199px) {
  .hero-content {
    padding-top: 118px;
    padding-bottom: 118px;
  }
}

.hero-name {
  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--second-accent-color);
  width: 100%;
  margin: 0 auto;
}
@media screen and (max-width: 1199px) {
  .hero-name {
    width: 360px;
  }
}
@media screen and (min-width: 1200px) {
  .hero-name {
    font-size: 44px;
    line-height: 1.36;
    width: 696px;
  }
}

.button-hero {
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  border-radius: 4px;
  border: 1px var(--accent-color);
  color: var(--second-accent-color);
  background-color: var(--accent-color);
  cursor: pointer;
  padding: 10px 32px;
  margin-top: 30px;
  min-width: 200px;
  transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 1200px) {
  .button-hero {
    min-width: 216px;
  }
}
.button-hero:hover, .button-hero:focus {
  background: #188ce8;
}

.about-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
.about-item {
  width: 100%;
}
@media screen and (min-width: 768px) {
  .about-item {
    width: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .about-item {
    width: calc((100% - 90px) / 4);
  }
}

.about-thumb {
  height: 120px;
  background-color: #f5f4fa;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
}

.about-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-align: center;
  color: var(--header-color);
  margin-bottom: 10px;
}
@media screen and (min-width: 768px) {
  .about-title {
    text-align: left;
  }
}

.about-text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--title-color);
}

.works-section {
  display: none;
}
@media screen and (min-width: 1200px) {
  .works-section {
    display: block;
    padding-top: 0px;
  }
}

.works, .clients-title, .team-title {
  font-weight: 700;
  font-size: 28px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--header-color);
  margin-bottom: 30px;
}
@media screen and (min-width: 1200px) {
  .works, .clients-title, .team-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    letter-spacing: 0.03em;
  }
}

.works-list {
  display: flex;
}

.gallery-item {
  position: relative;
  width: 370px;
}

.gallery-item:not(:last-child) {
  margin-right: 30px;
}

.works-top {
  position: absolute;
  color: #f5f4fa;
  bottom: 0;
  left: 0;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  background-color: rgba(47, 48, 58, 0.8);
  color: #ffffff;
  width: 370px;
  min-height: 70px;
  padding: 27px;
}

@media screen and (min-width: 1200px) {
  .team-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    margin-bottom: 50px;
  }
}

.team-section {
  background-color: #f5f4fa;
}

.team-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.team-item {
  width: 100%;
}
@media screen and (min-width: 768px) {
  .team-item {
    width: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .team-item {
    width: calc((100% - 90px) / 4);
  }
}

.team-block {
  background-color: #fff;
  padding: 30px 30px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--header-color);
  margin-bottom: 10px;
}

.team-specialty {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-color);
  margin-bottom: 16px;
}

.team-soc {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.team-soc-link {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.team-soc-link:hover, .team-soc-link:focus {
  background-color: #2196f3;
}

.team-soc-icon {
  fill: #afb1b8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-soc-link:hover .team-soc-icon,
.team-soc-link:focus .team-soc-icon {
  fill: #ffffff;
}

@media screen and (min-width: 1200px) {
  .clients-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    margin-bottom: 50px;
  }
}

.clients-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
  align-items: center;
}

.clients-item {
  width: calc((100% - 30px) / 2);
  height: 92px;
}
@media screen and (min-width: 768px) {
  .clients-item {
    width: calc((100% - 60px) / 3);
  }
}
@media screen and (min-width: 1200px) {
  .clients-item {
    width: calc((100% - 150px) / 6);
  }
}

.clients-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1), border-radius 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.clients-link:hover, .clients-link:focus {
  border: 1px solid #2196f3;
  border-radius: 4px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-icon {
  fill: #afb1b8;
}

.clients-link:hover .clients-icon,
.clients-link:focus .clients-icon {
  fill: #2196f3;
}

.footer {
  background: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 768px) {
  .two-section-tab {
    display: flex;
    justify-content: space-around;
    margin-bottom: 60px;
  }
}
@media screen and (min-width: 768px) and (min-width: 1200px) {
  .two-section-tab {
    margin-bottom: 0px;
  }
}
@media screen and (min-width: 1200px) {
  .footer .container {
    display: flex;
  }
}
@media screen and (min-width: 1200px) {
  .footer__address-thumb {
    margin-right: 70px;
  }
}
.footer__logo {
  margin-bottom: 20px;
  display: inline-block;
}

.logo__studio--white {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  color: var(--second-accent-color);
}
@media screen and (min-width: 1200px) {
  .logo__studio--white {
    font-size: 26px;
    line-height: 1.19;
  }
}

.footer__address {
  font-style: normal;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: var(--second-accent-color);
  display: inline-block;
  margin-bottom: 9px;
}

@media screen and (max-width: 1199px) {
  .address-thumb {
    margin-bottom: 60px;
    text-align: center;
  }
}

.footer__contact {
  font-style: normal;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  display: inline-block;
}

.footer__item:not(:last-child) {
  margin-bottom: 9px;
}

.footer__footer-soc h3 {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 20px;
}

.footer__footer-soc {
  margin-top: 12px;
  text-align: center;
  margin-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .footer__footer-soc {
    margin-right: 93px;
    margin-bottom: 0px;
    text-align: left;
  }
}

.footer-soc__list {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.footer-soc__link {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-soc__link:hover, .footer-soc__link:focus {
  background-color: #2196f3;
}

.footer-soc__icon {
  fill: #fff;
}

.subscription-box {
  margin-top: 12px;
  margin-left: auto;
}

.subscription-box h3 {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 20px;
  text-align: center;
}
@media screen and (min-width: 1200px) {
  .subscription-box h3 {
    text-align: left;
  }
}

.subscription-form {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
@media screen and (min-width: 1200px) {
  .subscription-form {
    display: block;
  }
}

.subscription-form__input {
  width: 100%;
  height: 50px;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  color: #ffffff;
  padding-left: 12px;
  outline: none;
  margin-bottom: 20px;
}
@media screen and (min-width: 768px) {
  .subscription-form__input {
    width: 450px;
  }
}
@media screen and (min-width: 1200px) {
  .subscription-form__input {
    width: 358px;
  }
}
.subscription-form__input::placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  padding-left: 12px;
}

.submit-button {
  position: relative;
  width: 200px;
  height: 50px;
  background: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: var(--accent-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: #FFFFFF;
  margin-left: 12px;
}
.submit-button:hover, .submit-button:focus {
  background: #188CE8;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

.submit-button__icon {
  position: absolute;
  right: 13px;
  top: 50%;
  transform: translateY(-50%);
  fill: var(--second-accent-color);
}

.backdrop {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  transition: opacity 500ms linear, visibility 500ms;
}

.modal {
  position: absolute;
  width: calc(100% - 30px);
  min-height: 581px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms linear;
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  padding: 40px;
}
@media screen and (min-width: 768px) {
  .modal {
    width: 450px;
  }
}
@media screen and (min-width: 1200px) {
  .modal {
    width: 528px;
  }
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0);
}

.modal__close {
  position: absolute;
  right: 8px;
  top: 8px;
  width: 30px;
  height: 30px;
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
}

.modal__icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
}
.modal__icon:hover, .modal__icon:focus {
  fill: var(--accent-color);
}

.modal__title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 12px;
}
@media screen and (min-width: 1200px) {
  .modal__title {
    font-size: 20px;
    line-height: 1.15;
  }
}

.input__title {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: #757575;
  display: block;
  margin-bottom: 4px;
}

.input {
  margin-bottom: 10px;
}

.input__wrap {
  position: relative;
}

.input__form {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 42px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: #757575;
  outline: none;
}
.input__form:focus {
  border: 1px solid var(--accent-color);
  border-radius: 4px;
}

.input__icon {
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
}

.input__form:focus + .input__icon {
  fill: var(--accent-color);
}

.input__text {
  width: 100%;
  height: 120px;
  padding-top: 12px;
  margin-bottom: 10px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 10px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: #757575;
  resize: none;
  outline: none;
}
.input__text::placeholder {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.input__text:focus {
  border: 1px solid var(--accent-color);
  border-radius: 4px;
}

.input-check {
  margin-left: 15px;
  margin-bottom: 30px;
}

.input-check__text {
  display: flex;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  color: #757575;
  align-items: center;
}
@media screen and (min-width: 1200px) {
  .input-check__text {
    font-size: 14px;
    line-height: 1.71;
  }
}

.input-check__text span {
  width: 16px;
  height: 15px;
  border: 2px solid #212121;
  border-radius: 3px;
  margin-right: 8px;
  transition: background-color 250ms linear, border-color 250ms linear;
  display: flex;
  align-items: center;
  justify-content: center;
}

.input-check__icon {
  fill: transparent;
  transition: fill 250ms linear;
}

.input-check__tick:checked + .input-check__text span {
  background-color: var(--accent-color);
  border-color: var(--accent-color);
}

.input-check__tick:focus + .input-check__text span {
  border: 1px solid var(--accent-color);
}

.input-check__tick:checked + .input-check__text .input-check__icon {
  fill: var(--second-accent-color);
}

.input-check__link {
  display: flex;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  color: var(--accent-color);
  align-items: center;
  margin-left: 4px;
}
@media screen and (min-width: 1200px) {
  .input-check__link {
    font-size: 14px;
    line-height: 1.71;
  }
}

/* .check-text::before{
  content: "";
  width: 16px;
  height: 15px;
  border: 2px solid #212121;
  border-radius: 3px;
  margin-right: 8px;  
  transition: background-color 250ms linear;
}
.input-check:checked + .check-text::before{
background-color: var(--accent-color);
background-image: url(../Images/Check-item.svg);
border: none;
background-repeat: no-repeat;
background-position: center;
} */
.input-button {
  width: 200px;
  height: 50px;
  background: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: var(--accent-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  display: block;
  margin: auto;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: #ffffff;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.input-button:hover, .input-button:focus {
  background: #188ce8;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.no-scroll {
  overflow: hidden;
}

.button-portfolio {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--header-color);
  cursor: pointer;
  background: #f5f4fa;
  border-radius: 4px;
  border: 1px transparent;
  padding: 6px 22px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button-portfolio:hover, .button-portfolio:focus {
  color: var(--second-accent-color);
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.button-list {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  margin-bottom: 40px;
}
@media screen and (min-width: 768px) {
  .button-list {
    margin-bottom: 30px;
    justify-content: center;
  }
}
@media screen and (min-width: 1200px) {
  .button-list {
    margin-bottom: 50px;
  }
}

.cataloge-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.cataloge-works {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--header-color);
  margin-bottom: 4px;
}

.portfolio-item {
  width: 100%;
  border-bottom: #f5f4fa;
  border-radius: 1px;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 768px) {
  .portfolio-item {
    width: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .portfolio-item {
    width: calc((100% - 60px) / 3);
  }
}
.portfolio-item:hover, .portfolio-item:focus {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.portfolio-name {
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--title-color);
}

.portfolio-block {
  padding: 20px 24px;
  border: 1px solid #f5f4fa;
}

.portfolio-top-wrap {
  position: relative;
  overflow: hidden;
}

.portfolio-text {
  position: absolute;
  top: 0;
  left: 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  background: rgba(33, 150, 243, 0.9);
  height: 100%;
  width: 100%;
  color: #ffffff;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 63px 24px;
  overflow: auto;
}

.portfolio-item:hover .portfolio-text {
  transform: translateY(0%);
}/*# sourceMappingURL=main.css.map */